.container {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 16px;
}

.container > div {
  padding: 10px;
  flex-grow: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form > .checkbox {
  flex-direction: row;
  gap: 30px;
}

.form label {
  font-weight: bold;
}

.form input,
.form select {
  padding: 5px;
  font-size: inherit;
}

.form textarea {
  resize: vertical;
  padding: 6px;
}

.form button {
  padding: 6px;
  max-width: 200px;
  margin-top: 10px;
}

.images {
  max-width: 50vw;
}

.images img {
  margin-bottom: 10px;
}

.images button {
  padding: 6px;
}

.error {
  color: red;
}

@media screen and (max-width: 62rem) {
  .container {
    flex-direction: column;
    width: 100%;
  }

  .container > div {
    padding: 0;
  }
}
