.content {
  padding: 2rem 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 5rem;
}

.info {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  overflow-wrap: break-word;
  flex: 1;
  font-size: 1.2em;
  padding: 1rem 0;
}

.title {
  font-weight: bold;
  padding: 1rem 0;
  text-align: center;
}

.seller {
  display: flex;
  padding: 1rem 0;
}

.seller img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

.seller-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}

.images {
  max-width: 40vw;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  aspect-ratio: 4 / 3;
  min-height: 30em;
}

.images img {
  object-fit: contain;
}

.description-title {
  font-size: 20px;
  padding: 1rem 0;
}

.description-text {
  font-size: 18px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  padding: 3em 3rem;
}

.button-container button {
  padding: 0.8em 0;
  border-radius: 3rem;
  cursor: pointer;
}

.seller-link {
  background-color: rgb(1, 89, 139);
  color: white;
}

@media screen and (max-width: 100rem) {
  .button-container {
    flex-direction: column;
    gap: 1rem;
  }
  .seller-link {
    padding: 0.5em;
  }
  .review-form {
    padding: 0.5em;
  }
}

@media screen and (max-width: 70rem) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
  }
  .images {
    align-self: center;
    min-width: 20em;
  }
  .info {
    text-align: center;
  }
  .seller {
    flex-direction: column;
    align-items: center;
  }
  .seller-info {
    padding-left: 0;
    text-align: center;
  }
  .seller-link {
    align-items: center;
  }
  .button-container {
    flex-direction: column;
    gap: 1rem;
  }
  .seller-link {
    padding: 0.5em;
  }
  .review-form {
    padding: 0.5em;
  }
}
