.signup-container {
  display: flex;
  width: 100%;
  align-items: center; /* Vertically aligns the form and image */
  font-family: Arial, sans-serif;
  margin-top: 3rem; /* Adds space below the header to prevent overlap */
}

.account-creation-form {
  display: flex;
  margin-right: 120px;
  margin-left: 100px;
  flex-direction: column;
  align-items: flex-start; /* Aligns form content to the left */
  justify-content: flex-start;
  height: 70%;
  width: 50%; /* Takes up 50% of the container */
  max-width: 700px; /* Optional: limits form width */
}

.signup-container img {
  width: 40%; /* Adjust image size */
  border-radius: 50px;
  height: 50em; /* Maintains aspect ratio */
  object-fit: cover; /* Optional: ensures the image fills the space without distortion */
}

@media (max-width: 49rem) {
  .signup-container {
    flex-direction: column;
  }
  .signup-container img {
    margin-top: 2rem;
    width: 100%;
    height: 30em;
  }
}
